@import "/src/styles/variables.css";
@import "/src/styles/common.scss";
.card {
  @extend .underlay;
  width: calc(50% - var(--d-mgM));
  min-width: 320px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__info {
    display: flex;
    justify-content: space-between;
    font-family: "Nexa", sans-serif;
    font-size: 16px;
  }
  &__date {
  }
  &__tag {
    background-color: var(--tag-color);
    border-radius: 20px;
    padding: 0 var(--d-mgM) 0 var(--d-mgM);
  }
  &__title {
    font-size: 24px;
    line-height: 24px;
  }
  &__actions {
    display: flex;
    gap: var(--d-mgM);
  }
  &__controls {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    padding: 0 var(--d-mgM) 0 var(--d-mgM);
    background-color: var(--l-white);
    border-radius: 20px;
    height: 32px;
    font-family: "Nexa", sans-serif;
    font-weight: normal;
  }
}

.button-complete {
  background-color: var(--l-black);
  color: var(--l-white);
}

.button-cancel {
  background-color: var(--l-white);
}
