:root {
  --l-card-bg-l: #eff0f5;
  --l-card-bg-d: #9ba0b5;
  --l-black: #1a1919;
  --l-white: #ffffff;
  --l-done: #adce99;
  --l-progress: #96a8e4;
  --d-mgS: 10px;
  --d-mgM: 20px;
  --d-mgL: 40px;
  --d-rad: 20px;
  --d-sect-height: 780px;
}
