@import "/src/styles/variables.css";
.dashboard {
  display: flex;
  gap: var(--d-mgM);
}

.cards {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  height: var(--d-sect-height);
  gap: var(--d-mgM);
  overflow-y: scroll;
}
