@import "/src/styles/variables.css";
.dashboard {
  display: flex;
  gap: var(--d-mgM);
}

.cards {
  display: inline-flex;
  flex-wrap: wrap;
  width: 50%;
  height: var(--d-sect-height);
  align-self: start;
  gap: var(--d-mgM);
  overflow-y: scroll;
}
