@import "./styles/variables.css";
@font-face {
  font-family: "Mustica Pro";
  src: url("./assets/fonts/MusticaproSemibold.otf");
}

@font-face {
  font-family: "Nexa";
  src: url("./assets/fonts/Nexa-Bold_0.otf");
}

:root {
  font-family: "Mustica Pro", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--l-white);
}
